.clima {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 2fr 3fr;
}

.clima > * {
  margin: 5px;
  border-radius: 15px;
  border: 1px solid black;
}